<!DOCTYPE html>
<html lang="en">

<% include ./assets/header %>

    <div class="site-block-wrap">
    <div class="owl-carousel owl-theme owl-loaded">
      <div class="site-blocks-cover overlay overlay-2" style="background-image: url(https://i.pinimg.com/originals/a9/1c/af/a91caf50de1dca1bb224c18efe3ad812.jpg);" data-aos="fade" id="home-section">


        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mt-lg-5 text-center">
              <h1 class="text-shadow">Artefak Boarding House</h1>
              <p class="mb-5 text-shadow">Informasi terbaru mengenai persediaan Kost Putra maupun Putri di daerah Sawojajar dan sekitarnya!</p>
              <p><a href="/sewa" class="btn btn-primary px-5 py-3">Sewa!</a></p>
              
            </div>
          </div>
        </div>
      </div>    
    </div>   
  </div>      

    
    <section class="site-section" id="news-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Berita</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
              <h2 class="font-size-regular"><a href="#" class="text-dark">Berita Terbaru ABH-Kost Tahun 2019</a></h2>
              <div class="meta mb-4">Admin ABH-Kos <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">Berita</a></div>
            </div> 
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
              <h2 class="font-size-regular"><a href="#" class="text-dark">Berita Terbaru ABH-Kost Tahun 2019</a></h2>
              <div class="meta mb-4">Admin ABH-Kos <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">Berita</a></div>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
              <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
              <h2 class="font-size-regular"><a href="#" class="text-dark">Berita Terbaru ABH-Kost Tahun 2019</a></h2>
              <div class="meta mb-4">Admin ABH-Kos <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">Berita</a></div>
            </div> 
          </div>
          
        </div>
      </div>
    </section>
    
<%  include ./assets/footer %>

  </body>
</html>