<% include ./assets/header %>

<div class="site-block-wrap">
  <div class="owl-carousel owl-theme owl-loaded">
    <div class="site-blocks-cover overlay overlay-2"
      style="background-image: url(https://ak7.picdn.net/shutterstock/videos/17979457/thumb/1.jpg);"
      data-aos="fade" id="home-section">


      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-4 mt-lg-5 text-center">
            <strong><h1 class="text-shadow">Daftar Kost</h1></strong> <br />
            <p class="mb-5 text-shadow">Informasi terbaru mengenai persediaan Kost Putra maupun Putri di daerah
              Sawojajar dan sekitarnya!</p>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>

<div class="site-section" id="properties-section">
  <div class="container">
    <div class="row large-gutters">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_1.jpg" alt="FImageo"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Yurod</h3>
              <p>Jln. Danau Sentani No. IX</p>
              <strong>Rp. 1.500.000,00</strong>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_2.jpg" alt="Image"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Samid</h3>
              <p>Jln. Danau Ranau No. IX</p>
              <strong>Rp. 1.600.000,00</strong>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Yurod</h3>
              <p>Jln. Danau Sentani No. IX</p>
              <strong>Rp. 1.500.000,00</strong>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_1.jpg" alt="Image"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Yurod</h3>
              <p>Jln. Danau Sentani No. IX</p>
              <strong>Rp. 1.500.000,00</strong>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_2.jpg" alt="Image"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Yurod</h3>
              <p>Jln. Danau Sentani No. IX</p>
              <strong>Rp. 1.500.000,00</strong>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
        <div class="ftco-media-1">
          <div class="ftco-media-1-inner">
            <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image"
                class="img-fluid"></a>
            <div class="ftco-media-details">
              <h3>Kost Pak Yurod</h3>
              <p>Jln. Danau Sentani No. IX</p>
              <strong>Rp. 1.500.000,00</strong>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%  include ./assets/footer %>