<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">

<link rel="stylesheet" href="css/jquery.fancybox.min.css">

<link rel="stylesheet" href="css/bootstrap-datepicker.css">

<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="css/aos.css">

<link rel="stylesheet" href="css/style.css">

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">Sekilas Info</h2>
                        <p>Aplikasi ini dibuat untuk mempermudah siswa/siswi mencari kost di daerah Sawojajar, dan sekitarnya.</p>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h2 class="footer-heading mb-4">Akses Cepat</h2>
                        <ul class="list-unstyled">
                            <li><a href="/">Beranda</a></li>
                            <li><a href="/sewa">Sewa Kost</a></li>
                            <li><a href="/kontak">Kontak</a></li>
                            <li><a href="/tentang">Tentang</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4">
                    <h2 class="footer-heading mb-4">Subskripsi Info</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                placeholder="Masukan Email" aria-label="Masukan Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-black" type="button"
                                    id="button-addon2">Kirim</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="">
                    <h2 class="footer-heading mb-4">Ikuti kami!</h2>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>


            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> - ABH Kost
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>

</div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.fancybox.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        
        
        <script src="js/main.js"></script>